@import 'variables';

// ====================================== Config:
* {
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: $font-base;
  font-size: 100%;
  font-weight: 300;
  color: $color-base;
}

img {
  width: 100%;
}