//================= Font-Family Base / Custom:
$font-base: 'Open Sans', sans-serif;
$font-custom: 'Orbitron', sans-serif;
//=================



//================= Colors:
$color-base: #2C3E50;
$color-custom: #E74C3C;
$color-dark: #000;
$color-light: #FFF;
//=================

